@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);

body {
	font-family: 'Titillium Web', sans-serif;
	color: #293c40;
	background-color: #e7e7e7;
}

input {
   text-align: center;
}

button {
	background-color: #bcd291;
}

.btn-tb {
	width: 70%;
}
.navbar-default {
	background-color: #a6c67b;
}

.navbar-default .navbar-brand {
	color: #293c40;
}

.control-form {
	padding: 0% 5% 5% 5%;
}

.input-form {
	border: 1px solid green;
}

.input-form-disabled {
	border: 1px solid white;	
}

.quotes-value {
	border: 2px solid white;		
}

.quotes-value h3 {
	color: #84ac4c;
}

.form-control:focus {
	border-color: green;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.quotes-select {
	background-color: #c5d898;
}

.quotes {
	padding-top: 10%;
}